<nav id="main-nav">
    <div id="logo">
        <a href="/"><img src="/images/animelogo.jpg" alt=""></a>
        <a href="/">AnimeStreams</a>
    </div>
    <div id="links">
        <a href="/browse">Browse</a>
        <a href="#">Most Popular</a>
    </div>
</nav>
<div id="line"></div>