<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,500;1,100&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header.ejs') %>

        <div id="covers">
            <a href="/player?title=Fairy%20Tail&ep=Trailer">
                <img src="images/fairy-tail-2-1-190x285.jpg" alt="">
                <h3>Fairy Tail</h3>
                <p>Sub | Dub</p>
            </a>
            <a href="/player?title=Dr.%20Stone&ep=Trailer">
                <img src="/images/dr-stone-1-190x285.jpg" alt="">
                <h3>Dr. Stone</h3>
                <p>Sub | Dub</p>
            </a>
            <a href="/player?title=Gintama&ep=Trailer">
                <img src="images/gintama-2017-1-190x285.jpg" alt="">
                <h3>Gintama</h3>
                <p>Sub | Dub</p>
            </a>
            <a href="/player?title=Jujutsu%20Kaisen&ep=Trailer">
                <img src="images/jujutsu-kaisen-1-190x286.jpg" alt="">
                <h3>Jujustsu Kaisen</h3>
                <p>Sub</p>
            </a>
            <a href="/player?title=Mob%20Psycho%20100&ep=Trailer">
                <img src="images/mob-psycho-100-1-190x285.jpg" alt="">
                <h3>Mob Psycho 100</h3>
                <p>Sub | Dub</p>
            </a>
            <a href="/player?title=My%20Hero%20Academia&ep=Trailer">
                <img src="images/my-hero-academia-4-1-190x284.jpg" alt="">
                <h3>My Hero Academia</h3>
                <p>Sub</p>
            </a>
            <a href="/player?title=Naruto&ep=Trailer">
                <img src="images/naruto-1-190x266.jpg" alt="">
                <h3>Naruto</h3>
                <p>Sub | Dub</p>
            </a>
            <a href="/player?title=Naruto%20Shippuden&ep=Trailer">
                <img src="images/naruto-shippuden-1-190x285.jpg" alt="">
                <h3>Naruto Shippuden</h3>
                <p>Sub | Dub</p>
            </a>
            <a href="/player?title=Odd%20Taxi&ep=Trailer">
                <img src="images/odd-taxi-1-190x286.jpg" alt="">
                <h3>Odd Taxi</h3>
                <p>Sub</p>
            </a>
            <a href="/player?title=One%20Punch%20Man&ep=Trailer">
                <img src="images/one-punch-man-2-1-190x285.jpg" alt="">
                <h3>One Punch Man</h3>
                <p>Sub | Dub</p>
            </a>
            <a href="/player?title=Re:Zero&ep=Trailer">
                <img src="images/re-zero-starting-life-in-another-world-season-2-part-ii-1-190x286.jpg" alt="">
                <h3>Re:Zero</h3>
                <p>Sub | Dub</p>
            </a>
            <a href="/player?title=Tokyo%20Revengers&ep=Trailer">
                <img src="images/tokyo-revengers-1-190x286.jpg" alt="">
                <h3>Tokyo Revengers</h3>
                <p>Sub | Dub</p>
            </a>
        </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>