<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnimeStreams</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,500;1,100&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('./partials/header.ejs') %>

        <div id="home-text">
            <h2>Welcome to AnimeStreams !</h2>
            <h4>Watch all your favorite anime here.</h4>
        </div>
        <img id="anime-art" src="/images/animecrossover.jpg" alt="">

    <%- include('./partials/footer.ejs') %>
</body>

</html>